<!DOCTYPE html>
<!-- sw5205 -->
<!-- Friend Profile Page -->
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1"> <!-- to control the layout on mobile browsers -->	
	<link rel="stylesheet" type="text/css" href="static/css/mycss.css">
  <title>Home</title>
</head>

<body style="background-color:#7ec0f6;">
	<!-- Navigation -->
	<div class="navbar">
		<a href="/" class="left"><img src="static/images/fatear2.png" alt="FatEar Logo"></a>
		<a href="/home" class="left">Back To Your Profile</a>
		<a href="/logout"class="right">Logout</a>
	</div>


	<div style="text-align:center">

	<userform method="POST" action="/home">

		<h1>Your Friend {{friendname}}'s Profile!</h1> 
		<h5 style="text-align: right">Last Login on: {{ userprofile.lastlogin }}</h5>

		<table>
			<tr><td><strong>First Name</strong></td>
				<td>{{ userprofile.fname }}</td>
			</tr>
			<tr><td><strong>Last Name</strong></td>
				<td>{{ userprofile.lname }}</td>
			</tr>
			<tr><td><strong>Nickname</strong></td>
				<td>{{ userprofile.nickname }}</td>
			</tr>
		</table>

		{% if fans %}
			<h3 style="text-align: left; color: #3d0d8c">Favorite artists:</h3>
			<table>
				<th>Artist Name</th>
				{% for line in fans %}
					<tr>
						<td>{{line.fname}} {{line.lname}}</td>
					</tr> 
				{% endfor %}
			</table>
		{% else %}
			<h3 style="text-align: left; color: #3d0d8c">You do not have any Favorite Artits yet.</h3>
		{% endif %}

		{% if reviews %}
		<h3 style="text-align: left; color: #3d0d8c">Reviewed songs:</h3>
		<table>
			<th>Song Title</th>
			<th>Review Text</th>
			<th>Review Date</th>
			{% for line in reviews %}
				<tr>
					<td><a href="{{ url_for('songdetails', title = line.title)}}">{{line.title}}</a></td>
					<td>{{line.reviewText}}</td>
					<td>{{line.reviewDate}}</td>
				</tr> 
			{% endfor %}
		</table>
		{% else %}
			<h3 style="text-align: left; color: #3d0d8c">Haven't Review Any Songs Yet</h3>
		{% endif %}

		{% if ratings %}
		<h3 style="text-align: left; color: #3d0d8c">Rated songs:</h3>
		<table>
			<th>Song Title</th>
			<th>Stars</th>
			<th>Rating Date</th>
			{% for line in ratings %}
				<tr>
					<td><a href="{{ url_for('songdetails', title = line.title)}}">{{line.title}}</a></td>
						{% if line.stars == 5 %}
							<td>⭐⭐⭐⭐⭐️</td>
						{% elif line.stars == 4 %}
							<td>⭐⭐⭐⭐️</td>
						{% elif line.stars == 3 %}
							<td>⭐⭐⭐️</td>
						{% elif line.stars == 2 %}
							<td>⭐⭐️</td>
						{% else %}
							<td>⭐</td>
						{% endif %}
					<td>{{line.ratingDate}}</td>
				</tr> 
			{% endfor %}
		</table>
		{% else %}
			<h3 style="text-align: left; color: #3d0d8c">Haven't Rated Any Songs Yet</h3>
		{% endif %}

		
			
<!-- Friends, Followers, Following-->
	<h3 style="text-align: left; color: #3d0d8c">Friends, Followers and Following</h3>
	<div class="container">
		{% if friends %}
		<table class="left">
			<thead style="text-align: left; color: #3d0d8c">
				<tr><th>Friends</th></tr>
			</thead>
			<tbody>
				{% for line in friends %}
					<tr><td>{{line.FriendName}}</td></tr> 
				{% endfor %}
			</tbody>
		</table>
		{% endif %}
		
		{% if followers %}
		<table class="center">
			<thead style="text-align: left; color: #3d0d8c">
				<tr><th>Followers</th></tr>
			</thead>
			<tbody>
				{% for line in followers %}
					<tr>
						<td>{{line.follower}}</td>
					</tr> 
				{% endfor %}
			</tbody>
		</table>
		{% endif %}

		{% if following %}
		<table class="right">
			<thead style="text-align: left; color: #3d0d8c">
				<tr><th>Following</th></tr>
			</thead>
			<tbody>
				{% for line in following %}
					<tr>
						<td>{{line.follows}}</td>
					</tr> 
				{% endfor %}
			</tbody>
		</table>
		{% endif %}
	</div>
</userform>

</body>
</html>
